.reward {
    border: .5 solid #F59E0B;
    background-color: #FFF5E3;
    width: 280px;
    height: 170px;
    position: absolute;
    right: 20px;
    top: 530px;
    border-radius: 10px;
    padding: 10px;
}

.reward-progress-bar {
    width: 150px;
    height: 5px;
    background: #E1E1E1;
    border-radius: 10px;
    display: inline-block;
}

.details {
    width: 60%;
}

.reward-progress {
    width: 34%;
    height: 100%;
    background: #F59E0B;
    border-radius: 10px;
}

.reward img {
    width: 120px;
    position: absolute;
    right: 12px;
    bottom: 10px;
}

.description {
    font-size: 13px;
    color: #646363;
}

.progressTitle {
    font-size: 13px;
}