header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    height: 100px;
    overflow: visible;
}

.days,
.points,
.diamonds {
    display: flex;
    align-items: center;
    width: auto;
    max-height: 45px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-left: 10px;
}

.days {
    margin-left: 20px;
}

.informations {
    display: flex;
    gap: 15px;
}

.languageMenu {
    z-index: 5;
    width: auto;
    align-items:center ;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.languageItem {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    cursor: pointer;
}

.languageItem:hover {
    background-color: #f7f7f7;
}

.languageName {
    flex: 1;
    text-align: right;
    font-size: 16px;
    color: #151525;
}

.addLanguage span{
    font-size: 15px;
}

.flag {
    width: 30px;
    height: 30px;
    line-height: 1;
}

.addLanguage {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #171729;
    font-size: 15px;
    cursor: pointer;
}

.languageItem.selected{
    padding-bottom: 10%;
}

.languageItem.selected i{
    font-size: 10px;
    margin-top: 10px;
}

.plusIcon {
    width: 21px;
    height: 21px;
    border: 1.5px solid #645cff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #645cff;
    font-size: 9px;
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #5550f3;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 45px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

.profile img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 5px;
}

.greeting h1 {
    font-weight: 500;
}

.greeting p {
    color: #64748B;
    font-weight: 400;
    font-size: 14px;
}