.words {
    width: 490px;
    height: 280px;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 10px;
    padding: 15px 18px;
    margin: 10px 5px 5px 20px;
}

.words-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.words .title {
    font-size: 15px;
    margin: 0;
}

.words .subtitle {
    margin-top: 5px;
    color: #aaa;
    font-size: 12px;
}

.words-header select {
    width: 80px;
    height: 30px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: white;
    color: #aaa;
    font-size: 10px;
}

.chart {
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

.chart svg {
    width: 100%;
    height: 100%;
    display: block;
}


.grid-line {
    stroke: #eeeeee;
    stroke-width: 1;
}

.chart text {
    fill: #777;
    font-size: 7px;
}

.chart .date {
    fill: #888;
    font-size: 7px;
}

.chart-area {
    fill: #5b5ce2;
    opacity: 0.1;
}

.chart-line {
    fill: none;
    stroke: #5b5ce2;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}