.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    padding: 20px 16px;
    border-right: 1px solid #eeeeee;
    background-color: white;
}

.logo {
    width: 130px;
    margin: 15px 0 35px 10px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    min-height: 45px;
    padding: 0 15px;
    border-radius: 10px;
    color: #8b8b8b;
    cursor: pointer;
    transition: 0.2s;
}

.menu:hover {
    background-color: #f5f4fc;
}

.menu.active {
    background-color: #edecf9;
    color: #706cea;
}

.new {
    margin-left: auto;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #706cea3f;
    border: 1px solid #706cea;
    color: #706cea;
    font-size: 10px;
    font-weight: bold;
}

.dashboardImg {
    width: 22px;
}

span {
    margin-left: 5px;
    font-size: 18px;
}

.MeetNox {
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #706cea;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border-radius: 10px;
}

.MeetNox img {
    width: 90px;
    margin-left: -20px;
    margin-bottom: -20px;
}

.text {
    width: auto;
    height: 100px;
    float: none;
    color: #edecf9;
    padding: 0 5px;
}

.text h3 {
    font-size: 16px;
}

.text p {
    font-size: 11px;
    margin: 8px 0;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #edecf9;
}

.menuContainer a i {

    font-size: 17px;
}