.status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 780px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 1;
}